.db-posts {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.db-post-url a {
	color: rgb(143, 143, 143);
	margin-left: 20px;
}

.db-post-url a:hover {
	text-decoration: none;
	color: rgb(143, 143, 143);
}

.db-post-title {
	font-weight: bold;
	line-height: 1.5;
}

.db-post-title a:link,
a:hover {
	color: black;
	text-decoration: none;
}

.db-post-title a:visited {
	color: rgb(143, 143, 143);
}

.db-post-index {
	font-size: 16px;
}

#db-post-triangle {
	margin: 0 5px 0 1px;
	color: rgb(143, 143, 143);
}
