#root {
	background-image: url("../images/external.jpg");
	background-size: cover;
}
.app {
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.form-group {
	align-items: center;
	justify-content: center;
}

#register-outer-button {
	display: flex;
	background-color: none;
	border: none;
}

#email-help {
	color: pink;
	font-weight: bold;
	margin-bottom: 50px;
}
