.app {
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

#register-button {
	display: flex;
	float: right;
	background-color: none;
	border: none;
	margin-left: 5%;
}

#back-button {
	display: flex;
	float: left;
	border: 1px solid rgb(0, 112, 255);
	border-radius: 6.9%;
	padding: 6px 12px;
	background-color: rgb(0, 123, 255);
}
#back-button a {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
}
