.mb-1 {
	margin-top: 15px;
}

button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

#back-button {
	cursor: pointer;
}

a:hover {
	color: rgb(0, 87, 197);
}
